<a href="https://www.youtube.com/user/ecoteltv/videos" class=" backgroud_banner py-20 block">
    <div class="flex container mx-auto items-center justify-center">
        <p class="text-white">Encuentranos en nuestra cuenta de</p>
        <img src="/img/YouTube-White-Full-Color-Logo.wine.svg" width="100" alt="Logo Youtube">
        <p class="text-white">en vivo</p>
    </div>
</a>


<style>
.backgroud_banner{

    background-color: #0e0e0e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
</style>