<section class="text-center px-5">
  <h2 class="text-white font-bold text-xs kkcdFt">ECOTEL PARA EL MUNDO</h2>
  <h1 class="text-white text-8xl font-bold py-4 tracking-tighter">
    Cadena Ecotel
  </h1>
  <p class="text-white">
    La mayor fuerza informativa del Sur del Ecuador.<br />
    Transmitimos a todo el Mundo a travez de nuestra web
  </p>
</section>

<style>
  .kkcdFt {
    display: inline-block;
    background: linear-gradient(
        90deg,
        rgb(152, 145, 186) 0%,
        rgb(155, 114, 126) 35.26%,
        rgb(159, 123, 133) 59.83%,
        rgb(148, 126, 153) 100%
      )
      text;
    -webkit-text-fill-color: transparent;
  }
</style>
