<section class="py-5">
    <div class="flex flex-col justify-between items-center md:flex-row">
        <a href="#">
            <img class="inline-block" src="/img/logoecotel.svg" width="200" height="200" alt="Logo Ecotel">
        </a>
        <div>
            <ul class="flex items-center">

                <p class="text-white font-bold text-xs mr-5">REDES SOCIALES:</p>

                <li>
                    <a href="https://www.facebook.com/CadenaEcotel/" target="_blank">
                        <img src="/img/icons8-facebook-rodeado-de-circulo.svg" width="30" height="30" alt="Icono Facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/cadenaecotel/?hl=es" target="_blank">
                        <img src="/img/icons8-instagram.svg" width="30" height="30" alt="Icono Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@cadenaecotel?lang=es" target="_blank">
                        <img src="/img/icons8-tik-tok.svg" width="30" height="30" alt="Icono TikTok">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/cadenaecotel" target="_blank">
                        <img src="/img/icons8-twitter-circled.svg" width="30" height="30" alt="Icono Twitter">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>

<style>
    li{
        margin-left: 3px;
    }
</style>